 
<!-- <p>plan-list works!</p>
<a href="promocode">promocode</a> -->


<div *ngIf="cars==null&&authenticationResponse.userRole=='customer'" class="row justify-content-md-center">
<p class="align-items-center">Cars Not Found</p><button class="btn btn-primary">Add Car</button>
</div>
<section class="pricing-table align-items-center">
  <!-- <div class="container">
    <div class="block-heading">
      <div> -->
        
            <div class="container" >
              <div *ngFor="let car of cars">
              
              <div class="card" (click)="selectCar(car)" [ngClass]="this.order.carId==car.carId? 'border border-success border-5':'no-selection'">
                <div class="content">
                  <div class="imgBx">
                    <img src="../../assets/car-icons/{{car.carType}}.png">
                  </div>
                  <div class="contentBx">
                    <small>{{car.carId}}</small> <br>
                    <!-- <small>{{car.carImage}}</small> <br> -->
                    <small>{{car.carColor}}</small><br>
                    <small>{{car.carBrand}}</small><br>
                    <small>{{car.carRegistrationNumber}}</small><br>
                    <small>{{car.carType}}</small><br>
                    <h3>{{car.carModel}}</h3>
                  </div>
                </div>
              </div></div>
             </div>
      <!-- </div>
      
     </div> -->
     <hr>
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="heading">
            <h3>{{this.basicPlan.planName|uppercase}}</h3>
          </div>
          <p>Quick Wash And Quick Shine</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">No</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">No</span></h4>
          </div>
          <div class="price">
            <h4>{{this.basicPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="setPlan(this.basicPlan)">SELECT</button>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="ribbon">Best Value</div>
          <div class="heading">
            <h3>{{this.standardPlan.planName|uppercase}}</h3>
          </div>
          <p>Recomended For All Time</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">No</span></h4>
          </div>
          <div class="price">
            <h4>{{this.standardPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="setPlan(this.standardPlan)">SELECT</button>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="heading">
            <h3>{{this.premiumPlan.planName|uppercase}}</h3>
          </div>
          <p>Premium Plan For  Shining</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">Yes</span></h4>
          </div>
          <div class="price">
            <h4>{{this.premiumPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="setPlan(this.premiumPlan)">SELECT</button>
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>



  <div *ngIf="show" class="center">
    <h3>apply promocode</h3>

  <input [(ngModel)]="promocodeApply">
  <button class="btn btn-info"><a (click)="applyPromocode(this.promocodeApply)">apply</a></button>

  </div>
    <div *ngIf="show">
    <tfoot>

        <div class="subtotal cf">
          <ul style="list-style: none;">
            <li class="totalRow"><span class="label">Subtotal</span><span class="value">{{this.selectedPlan.price|currency:'INR':'symbol'}}</span></li>
            
            
            <!-- <li class="totalRow discount"><span class="label">Discount :  code applied !.. </span><span class="value ">-</span></li> -->
            <li class="totalRow discount" *ngIf="this.promocode!=null"><span class="label" >Discount : {{this.promocode.promocode}} code applied !.. </span><span class="value ">-{{this.discount|currency:'INR':'symbol'}}</span></li>
            <hr>
            <li class="totalRow fs-3 label"><span class="label">Total</span><span class="value">{{this.order.totalPrice|currency:'INR':'symbol'}}</span></li>
            
          </ul>
        </div>
      </tfoot>
    <button (click)="placeOrder()" class="btn btn-warning">Place Order</button>
    </div>