<!-- <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id="navbar">
        
        <div class="glow"><a class="navbar-brand fs-3 pe-5 link-light ps-5 " >ＳＨＩＮＥＴＡＳＴＩＣ</a></div>
        <ul class="nav col-md-10 col-lg-auto me-lg-auto justify-content-end pe-5" >
            
            <li><a href="/" class="nav-link px-5 fs-6 link-light anim">Home</a></li>
            <li><a href="#" class="nav-link px-5 fs-6 link-light anim">Leaderboard</a></li>
            <li><a href="plan" class="nav-link px-5 fs-6 link-light anim">Plans</a></li>
          <li><a href="#" class="nav-link px-5 fs-6 link-light anim" >About Us</a></li>
        </ul>
        
        <div class="dropdown text-end" >
            
            <a href="#" class="d-block link-light text-decoration-none pe-4" data-bs-toggle="dropdown"  aria-expanded="true">
                <img src="../../assets/profile_image.png" alt="mdo" width="32" height="32" class="rounded-circle" >
            </a>
            <ul class="dropdown-menu text-small" >
                <li><a class="dropdown-item" href="/">New project...</a></li>
                <li><a class="dropdown-item" href="/">Settings</a></li>
                <li><a class="dropdown-item" href="/user">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>
    </div>  -->
<div class="bg-img">
<div class="text-body">
    <div class=" col-lg-8 offset-md-6 py-5 mt-4 text-center text-lg-start">
      <h1 class="fw-bold text-light">Welcome to SHINETASTIC</h1>
      <p class=" fs-4 py-4 text-light" >SHINY, SPOTLESS CARS FOR DAYS... </p>
    </div>
    <div class="col offset-md-6 pt-1 ">
    <button class="btn-grad" (click)="onAddUser()" >Get Started</button>
    <button class="btn-grad2" (click)="logIn()">Log In</button>
    </div> 
   
  </div>

</div>