
<div *ngIf="this.authenticationResponse!=null&&this.authenticationResponse.userRole=='admin'">
<div class="btn btn-secondary mt-3 mb-3 mr-3 float-right" routerLink="/plan"><button>Edit plans</button></div>
</div>

<section class="pricing-table align-items-center">
  <div class="container">
    <div class="block-heading">
      <h2>Our Pricing</h2>
      <div>

        <div class="container">

          <div class="card" (click)="setCarType('seden')"
            [ngClass]="this.carType=='seden'? 'border border-success border-5':''">
            <div class="content">
              <div class="imgBx">
                <img src="../../assets/car-icons/seden.png">
              </div>
              <div class="contentBx">
                <h3>Seden</h3>
              </div>
            </div>
          </div>
          <div class="card" (click)="setCarType('SUV')"
            [ngClass]="this.carType=='SUV'? 'border border-success border-5':''">
            <div class="content">
              <div class="imgBx">
                <img src="../../assets/car-icons/SUV.png">
              </div>
              <div class="contentBx">
                <h3>SUV</h3>
              </div>
            </div>
          </div>
          <div class="card" (click)="setCarType('off-road')"
            [ngClass]="this.carType=='off-road'? 'border border-success border-5':''">
            <div class="content">
              <div class="imgBx">
                <img src="../../assets/car-icons/off-road.png">
              </div>
              <div class="contentBx">
                <h3>Off-Road</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="heading">
            <h3>{{this.basicPlan.planName|uppercase}}</h3>
          </div>
          <p>Quick Wash And Quick Shine</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">No</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">No</span></h4>
          </div>
          <div class="price">
            <h4>{{this.basicPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="redirect()">BOOK WASH</button>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="ribbon">Best Value</div>
          <div class="heading">
            <h3>{{this.standardPlan.planName|uppercase}}</h3>
          </div>
          <p>Recomended For All Time</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">No</span></h4>
          </div>
          <div class="price">
            <h4>{{this.standardPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="redirect()">BOOK WASH</button>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 px-3">
        <div class="item">
          <div class="heading">
            <h3>{{this.premiumPlan.planName|uppercase}}</h3>
          </div>
          <p>Premium Plan For Shining</p>
          <div class="features">
            <h4><span class="feature">Tyre Wash</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Interior Clean</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Wax</span> : <span class="value">Yes</span></h4>
          </div>
          <div class="price">
            <h4>{{this.premiumPlan.price|currency:'INR':'symbol'}}</h4>
          </div>
          <button class="btn btn-block py-1 btn-outline-primary" type="submit" (click)="redirect()">BOOK WASH</button>
        </div>
      </div>
    </div>
  </div>
</section>